extends ../main.pug

block content
    form#main-form.half(method="POST")
        div.form-group
            div.row
                p.form-label= "Username: "
                input.form-input(type="text" name="user" required)
            div.row
            if usernameError != undefined
                p.error= "Username is already taken"
        
        div.form-group
            div.row
                p.form-label= "Password: "
                input.form-input(type="password" name="password" required)
                    
        div.form-group
            div.row
                p.form-label= "Email: "
                input.form-input(type="email" name="email" required)
            div.row
            if emailError != undefined
                p.error= "Email is already taken"
        
        div.line

        button.form-submit.centered(type="submit")= "Register"